/* App.css */
.App {
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .chart-container {
    width: 60%;
    margin: auto;
  }
  .bar-chart-wrapper {
    width: 500px;  
    height: 800px;
    margin: 0 auto; 
  }