#libb1,#libb2{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #31363F;
}
#libb2{
    position: relative;
    left: 50px;
}
#libb1:hover,#libb2:hover{
    background-color: transparent;
    text-decoration: underline;
}
#ldiv{
    height: 350px;
    width: 250px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #31363f8f;
    color: #EEEEEE;
    box-shadow: 2px 3px 4px #31363F;
}
#limg{
    width: 240px;
    height: 240px;
    position: relative;
    left: -8px;
    top: 8px;
    border-radius: 5px;
}
#lh1{
    position: relative;
    left: -10px;
}
#la{
   position: relative;
   top: 10px;
   left: -10px;
   background-color: transparent;
   color: #EEEEEE;
   border: none;
}
#la:hover{
    color: #76ABAE;
}