#div2{
    margin-top: -600px;
}
#hdiv{
    width: 18rem;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #31363f8f;
    color: #EEEEEE;
    margin-left: 20px;
}
#hb{
    background-color: #EEEEEE;
    color: #31363F;
    font-weight: bold;
    position: relative;
    left: 100px;
    border-radius: 5px;
    height: 40px;
}
#hb:hover{
    background-color: #31363F;
    color: #EEEEEE;
    box-shadow: 2px 3px 4px #31363F;
}
#sub{
    height: 400px;
    width: 1000px;
    position: relative;
    left: 150px;
}
#himg{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 50px;
}
#hh{
    position: relative;
    top: 20px;
}
#hi{
    margin-right: 10px;
    font-size: 18px;
}

