#div2{
    margin-top: -600px;
}
#uh{
    font-weight: bold;
    position: relative;
    left: 50px;
}
#form3{
    position: relative;
    left: 100px;
    top: 20px;
    background-color: #31363f8f;
    width: 1200px;
    border-radius: 5px;
    color: #EEEEEE;
    margin-bottom: 10px;
}
#hr1_1{
    position: relative;
    top: -15px;
    width: 350px;
    left: 0px;
    border: 1px solid black;
}
#hr1_2{
    position: relative;
    top: -40px;
    width: 350px;
    left: 0px;
    border: 1px solid black;
}
#hr1{
    position: relative;
    top: -55px;
    width: 350px;
    left: 0px;  
    border: 1px solid black;
}
#hr2{
    position: relative;
    top: -40px;
    width: 350px;
    left: 0px;  
    border: 1px solid black;
}
#appname,#devname,#publname,#category,#os{
    width: 350px;
    height: 35px;
    background-color: transparent;
    border: none;
    color: #EEEEEE;
}
#devname,#publname,#category,#os{
    position: relative;
    top: -40px;
}
#desc{
    width: 350px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: relative;
    top: -20px;
    color: #EEEEEE;
}
#subbtn{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #31363F;
    color: #EEEEEE;
    font-size: 18px;
    position: relative;
    left: 510px;
    top: -10px;
}
#subbtn:hover{
    background-color: #EEEEEE;
    box-shadow: 2px 3px 4px;
    color: #31363F;
}
#l1{
    position: relative;
    top: -40px;
}
#upbtn1,#upbtn2,#upbtn3{
    margin-left: 40px;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(0,1,255,1) 0%, rgba(9,17,121,1) 50%, rgba(2,0,36,1) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#basic{
    border-right: 2px solid black;
}
#basic,#basic1{
    padding-left: 40px;
    padding-top: 20px;
}
#category option,#os option{
    background-color: #31363F;
    color: #EEEEEE;

}

.uploadButtons{
    display: inline-block;
    position: relative;
}
#upbtn-label1 {
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 20px;
    font-style: italic;
  }
  
#upbtn1:hover,#upbtn2:hover,#upbtn3:hover {
    box-shadow: 2px 3px 4px black;
  }