#timg{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
#tapps{
    position: relative;
    left: 150px;
    width: 1200px;
}
#th2{
    position: relative;
    left: 80px;
    top: -50px;
}
#hsearch{
    margin-left: 100px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    top: -90px;
    left: 290px;
    font-size: 16px;
    background-color: #fcfafa9a;
    color: black;
}
#hsearchicon{
    position: relative;
    left: 250px;
    top: -90px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: black;
}
#hosfilter{
    background-color: transparent;
    color: #EEEEEE;
    width: 120px;
    border: none;
    position: relative;
    left: 230px;
    top: -20px;
    height: 30px;
    font-size: 18px;
}
#hhrfilter{
    position: relative;
    top: -38px;
    left: 230px;
    width: 120px;
}
#hosfilter option{
    background-color: #31363F;
    color: #EEEEEE;
}
#anav{
    position: relative;
    left: 80px;
    top: -20px;
}